<div class="w-3/4 h-3/4 bg-slate-200 p-6 rounded">
    <div class="h-full w-full" style="display: flex; flex-direction: column; justify-content: space-between;">
        <div>
            <div>
                <div class="font-bold underline text-2xl py-3">Title</div>
                <div>{{title}}</div>
            </div>
            <div>
                <div class="font-bold underline text-2xl py-3">Content</div>
                <div>{{content}}</div>
            </div>
        </div>
        <div class="text-lg">
            <div *ngFor="let value of values; let i = index" [ngStyle]="{'color': this.getColorByLimits(i)}">
                {{value.nameValue}}: {{value.value}} {{value.valueSymbol}}
            </div>
        </div>
        <div>
            <div class="flex justify-end">
                <input (click)="closeDivDetailsFun()" value="Close" type="button" class="py-3 px-6 border-1 border-zinc-500 rounded text-zinc-500 cursor-pointer">
            </div>
        </div>
    </div>
</div>