<form [formGroup]="formAddPosition">
    <div [ngClass]="{'opacity-50': this.messageNoComponentsShow}" class="w-full bg-zinc-100 my-6 rounded-xl p-6" style="display: flex; flex-direction: column; justify-content: space-between;">
        <div>
            <div *ngIf="!this.oldPosition">
                <div class="font-bold underline text-2xl py-3">Select item</div>
                <div *ngIf="selectOptions.length != 0">
                    Item to add:
                    <select class="ml-6 w-64" formControlName="item">
                        <option *ngFor="let selectOption of selectOptions" [value]="selectOption.id">{{selectOption.task}}</option>
                    </select>
                </div>
                <div class="italic" *ngIf="selectOptions.length == 0">
                    Attention! No Item to add a button… Please go add components.
                </div>
            </div>
            <div *ngIf="this.oldPosition">
                {{this.oldPosition.task}}
            </div>
            <div>
                <div class="font-bold underline text-2xl py-3">Position</div>
                <div class="my-3">enter values to place the button (put a value between 0-100%):</div>
                <div class="mb-3 p-1">
                    <table>
                        <tr>
                            <td class="px-1">Abscissa (&harr; - X):</td> 
                            <td class="px-1"><input (input)="changeInputOfCordinator()" [(ngModel)]="xInputField" #xInput (value)="xInput" class="border-1 border-zinc-400 rounded" type="number" min="0" max="100" formControlName="xPos"></td>
                            <td class="px-1">%</td>
                        </tr>
                        <tr>
                            <td class="px-1">Ordinate (&#8597; - Y):</td> 
                            <td class="px-1"><input (input)="changeInputOfCordinator()" [(ngModel)]="yInputField" #yInput (value)="yInput" class="border-1 border-zinc-400 rounded" type="number" min="0" max="100" formControlName="yPos"></td>
                            <td class="px-1">%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-lg">

        </div>
        <div>
            <div class="flex justify-between mt-3">
                <input [disabled]="!formAddPosition.valid" [ngClass]="{'opacity-50 cursor-default hover:bg-transparent': !formAddPosition.valid}" value="Confirm" type="button" (click)="submit()" class="py-3 px-6 border-1 border-green-500 rounded text-green-500 cursor-pointer">
                <input value="Close" type="button" (click)="cancelAddButtonFun()" class="py-3 px-6 border-1 border-zinc-500 rounded text-zinc-500 cursor-pointer">
            </div>
        </div>
    </div>
</form>

<div class="w-full h-3">

</div>